@model IEnumerable<Product>

<div class="text-center">
    <h1 class="display-4">Welcome to MightyMats! (MM)</h1>
</div>


@foreach (var product in @Model)
{
    <div class="card mb-3 shadow rounded-4">
        <img src="@product.Image" class="card-img-top rounded-top-4" alt="Ooops... Something went wrong :(">
        <div class="card-body ">
            <div class="row pt-2 mt-3">
                <h3 class="card-title text-dark col-8">@product.Title</h3>
                <h4 class="text-center text-dark col-4 text-end">@product.Price.ToString("C")</h4>
            </div>
            <p class="card-text mt-1">@product.Description</p>

            <div class="row pt-2 mt-3">
                <div class="col-6 col-md-3">
                    <a asp-controller="Product" asp-action="Index" class="btn btn-outline-info form-control shadow">Add to cart</a>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-route-id="@product.Id" asp-area="Customer" asp-controller="Home" asp-action="Details" class="btn btn-outline-light form-control shadow">Details</a>
                </div>
            </div>
        </div>
    </div>
}